<?xml version="1.0" encoding="utf-8"?>
<manifest package="ggr.tpl7"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18"/>

    <uses-feature android:name="android.hardware.camera"
                  android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".LineupActivity"
            android:label="Create Lineup">

        </activity>
        <activity
            android:name=".AthletePagerActivity"
            android:label="Roster"
            android:parentActivityName=".AthleteListActivity">
        </activity>
        <activity android:name=".AthleteListActivity"
                  android:label="The Perfect Lineup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoatPagerActivity"
            android:label="Roster"
            android:parentActivityName=".AthleteListActivity">
        </activity>
        <activity android:name=".BoatListActivity"
                  android:label="Lineup">
        </activity>
        <activity
            android:name=".ReadExcel"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>